@keyframes fade-in-up {
  0% {
    transform: translateY(80vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(10vw);
    opacity: 0;
  }
}

.fade-in-up {
  animation: fade-in-up 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-down {
  animation: fade-out-down 0.75s ease-out both;
}

.fade-in-right {
  animation: fade-in-right 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-left {
  animation: fade-out-left 0.75s ease-out both;
}

.map-container {
  transform: scale(2);
  transform-origin: 0 0;
}
