.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  // pointer-events: none;
}

.full-height {
  .slick-track,
  .slick-list,
  .slick-slide > div {
    height: 100%;
  }
  .slick-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.slick-vertical .slick-track {
  display: block;
}
[dir="rtl"] .slick-track {
  flex-direction: row-reverse;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
}

.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-slide {
  .infiniteSlide {
    > div {
      padding: 0 0.5rem;
    }

    &:not(.activeSlide) {
      > div {
        padding: 0 2rem;
        font-size: 75%;
      }
    }
  }
}

.slick-vertical .slick-slide {
  > div {
    transition: transform 1s linear;
  }
  &:not(.slick-active) {
    > div {
      opacity: 0.25;
      filter: blur(4px);
    }
  }
}
