.definitionList {
  padding: 0 1rem 0 0.5rem;

  > .definitionItem:not(:last-child) {
    border-bottom: 0.0625rem solid $base-lightest-color;
  }

  .definitionItem {
    font-size: 0.8125rem;
    padding: 0.25rem;

    .definitionLabel {
      font-size: 0.6125rem;
    }
    .definitionValue {
      padding: 0.25rem 0;
    }
  }
}
