.grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-7-5 {
  grid-template-columns: 7fr 5fr;
}

.grid-col-9-3 {
  grid-template-columns: 9fr 3fr;
}

.grid-col-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-col-1-4 {
  grid-template-columns: 1fr 4fr;
}

.grid-col-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-2-3-2 {
  grid-template-columns: 2fr 3fr 2fr;
}

.grid-col-3-6-3 {
  grid-template-columns: 3fr 6fr 3fr;
}

.grid-row-2-1 {
  grid-template-rows: 2fr 1fr;
}
