@font-face {
  font-family: cc_hand;
  src: local("cc_hand"), url("/font/cchand.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: cc_handbold;
  src: local("cc_handbold"), url("/font/cchandbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: cc_headline;
  src: local("cc_headline"), url("/font/ccheadline.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: cc_headlinebold;
  src: local("cc_headlinebold"),
    url("/font/ccheadlinebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: cc_headlinelight;
  src: local("cc_headlinelight"),
    url("/font/ccheadlinelight.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: cc_monoregular;
  src: local("cc_monoregular"), url("/font/ccmono.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: cc_textregular;
  src: local("cc_textregular"), url("/font/cctext.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: cc_textbold;
  src: local("cc_textbold"), url("/font/cctextbold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: cc_text_lightregular;
  src: local("cc_text_lightregular"),
    url("/font/cctextlight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

strong,
.text-bold {
  font-family: cc_textbold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-monospace {
  font-family: cc_monoregular;
}

.text-light {
  font-family: cc_text_lightregular;
}
