.display-inline-block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-h-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-h-0-5rem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-h-2rem {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-v-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-v-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-v-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.no-wrap {
  white-space: nowrap;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
}

.line-height-1-25 {
  line-height: 1.25;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favicon {
  width: 0.6125rem;
  height: 0.6125rem;
}

.qrAbsolute {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  width: 6rem;
  height: 6rem;
}
