.mainWeather {
  .weatherIcon {
    width: 7rem;
  }
  .weatherTemp {
    font-size: 2.75rem;
    margin-bottom: 0.125rem;
  }
  .weatherTempName {
    font-size: 1.5rem;
    margin-bottom: 0.125rem;
  }
}

.normalWeather {
  .weatherIcon {
    width: 3rem;
  }
  .weatherTemp {
    font-size: 1rem;
    margin-bottom: 0.125rem;
  }
  .weatherTempName {
    font-size: 0.5625rem;
    margin-bottom: 0.125rem;
  }
}

.weatherColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
